h1{
	color:red;
}

/* Define the keyframes */
@keyframes animation {
  0% {
    width: 100px;
  height: 100px;background-image: url(../img/1.png);background-repeat: no-repeat;
  }
  5% {
    width: 100px;
  height: 100px;background-image: url(../img/2.png);background-repeat: no-repeat;
  }
  10% {
    width: 100px;
  height: 100px;background-image: url(../img/3.png);background-repeat: no-repeat;
  }
  15% {
    width: 100px;
  height: 100px;background-image: url(../img/4.png);background-repeat: no-repeat;
  }
  20% {
    width: 100px;
  height: 100px;background-image: url(../img/5.png);background-repeat: no-repeat;
  }
  25% {
    width: 100px;
  height: 100px;background-image: url(../img/6.png);background-repeat: no-repeat;
  }
  30% {
    width: 100px;
  height: 100px;background-image: url(../img/7.png);background-repeat: no-repeat;
  }
  35% {
    width: 100px;
  height: 100px;background-image: url(../img/8.png);background-repeat: no-repeat;
  }
  40% {
    width: 100px;
  height: 100px;background-image: url(../img/9.png);background-repeat: no-repeat;
  }
  45% {
    width: 100px;
  height: 100px;background-image: url(../img/10.png);background-repeat: no-repeat;
  }
  50% {
    width: 100px;
  height: 100px;background-image: url(../img/11.png);background-repeat: no-repeat;
  }
  55% {
    width: 100px;
  height: 100px;background-image: url(../img/12.png);background-repeat: no-repeat;
  }
  60% {
    width: 100px;
  height: 100px;background-image: url(../img/13.png);background-repeat: no-repeat;
  }
  65% {
    width: 100px;
  height: 100px;background-image: url(../img/14.png);background-repeat: no-repeat;
  }
  70% {
    width: 100px;
  height: 100px;background-image: url(../img/15.png);background-repeat: no-repeat;
  }
  75% {
    width: 100px;
  height: 100px;background-image: url(../img/16.png);background-repeat: no-repeat;
  }
  80% {
    width: 100px;
  height: 100px;background-image: url(../img/17.png);background-repeat: no-repeat;
  }
  85% {
    width: 100px;
  height: 100px;background-image: url(../img/18.png);background-repeat: no-repeat;
  }
  90% {
    width: 100px;
  height: 100px;background-image: url(../img/19.png);background-repeat: no-repeat;
  }
  95% {
    width: 100px;
  height: 100px;background-image: url(../img/20.png);background-repeat: no-repeat;
  }
  100% {
    width: 100px;
  height: 100px;background-image: url(../img/1.png);background-repeat: no-repeat;
  }
}

/* Apply the animation to an element */
.caballo {
  animation-name: animation;
  animation-duration: 2.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
